.header {
    color: blue;
    text-align: center;
}

p {
    font-size: 20px;
    font-family: 'Times New Roman';
}

.header-description {
    text-align: center;
}

article {
    margin: 30px;
    padding: 20px;
    width: 50%;
    background-color: aquamarine;
    border: 1px red solid;
    border-radius: 10px;
}

button {
    height: 30px;
    height: 40px;
    font-family: sans-serif;
    font-size: large;
    background-color: lightblue;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 5);
}

button:hover {
    background-color: rgb(5, 180, 239);
    color: aliceblue;
    transition: .5s;
}